doctype html
html
  head
    title= title

    link(rel="stylesheet" href="public/stylesheets/register.css?1.1")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton")
    link(rel="stylesheet" type="text/css" href = "public/theme/jquery-ui.min.css")
    link(rel="stylesheet" type="text/css" href = "public/theme/jquery-ui.css")
    
    script(type="text/javascript" src="public/theme/jquery-ui.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="./jquery-ui.min.js")
    script(type="text/javascript" src="./login.js")
    script(type="text/javascript" src="./register.js")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  
  body
    block content
