html
    head
        link(href='css/bootstrap.min.css', rel='stylesheet')
        body
            header
                .navbar.navbar-dark.bg-dark
                    .container.d-flex.justify-content-between(style='margin: auto;width:800px')
                        a.navbar-brand(href='./') Fantasy
                        a.btn.btn-info(role='button', href='./login.html') Login
                h3(align="center") No such user!