block content
    h1.
        User List
    ol
        each user, i in userlist
            li
                h2 #{user.username}
                ul
                    li Email: #{user.email}
                    li Birthday: #{user.birthday}
                    li Phone: #{user.phone}