#tab-dragdrop {
    padding: 20px;
    height: 400px;
    text-align: center;
    background-color: #ffbf80;
}
#tab-resize {
    margin-top: 20px;
    padding: 20px;
    height: 400px;
    text-align: center;
    background-color: #ffbf80;
}